.card-title {
    display: flex;
    justify-content: center;
    font-family: monospace;
    color: #6b00ff;
}

.primeng-no-data {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 30px;
    color: #ef0606;
}

::ng-deep.p-datatable {
    margin: 10px;
}