a {
    text-decoration: none !important;
    color: inherit !important;
}

.active-link a {
    text-decoration: none;
}

.active-link {
    font-weight: bold;
    color: blue !important;
    background-color: #f0f0f0;
    text-decoration: none !important;
    padding: 5px 10px;
    border-radius: 5px;
}